.title-content {
	text-align: center;
	font-weight: 700;
	font-size: 28px;
	line-height: calc(28 / 33);
	color: var(--title-text-color);
	margin-bottom: 30px;

	@media screen and (min-width: 1200px) {
		margin-bottom: 50px;
		font-size: 36px;
		line-height: calc(42 / 36);
	}
}